@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --primary-color: #7209b7;
  /* secondary-color: ; */
}
body {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  background-color: #010101;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  color: var(--primary-color);
}

textarea {
  height: 17vh;
  min-width: 50%;
  margin-top: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 1rem;
}
#output-box {
  height: 17vh;
  width: 50%;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  font-size: 1.5rem;
  color: #cbc7c7;
}

h2 {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

button {
  margin: 1.25rem 0rem;
  height: 4rem;
  min-width: 10rem;
  background-color: #240046;
  color: #cbc7c7;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

button:hover {
  background-color: #7209b7;
  color: #fff;
}

h1 {
  margin-top: 0.5rem;
  font-size: 2.5rem;
}

header,
footer {
  background-color: var(--primary-color);
  height: 10vh;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

/* Footer */

footer {
  margin-top: 3rem;
  border-radius: 10px 10px 0 0;
}
.social-links {
  list-style-type: none;
  margin-top: 1rem;
}

.list-item-inline {
  text-align: center;
  display: inline;
  padding: 1rem;
}

.list-item-inline .link {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}
.list-item-inline :hover {
  color: #1f142a;
  border-bottom: 1px solid #18032c;
}
